<div class='fatty'>
	<div class='fullFrame'>
		<div class='header'>
			<div class="biggie">
				<p>Find great music</p>
				<p class="row1">near you.</p>
			</div>
			<div class="smalls">
				<p class='smallerHeader'>Discover and connect with your local artists with Band Ave.</p>
				<p class="row2 smallerHeader">Great for the fans <em>and</em> the bands.</p>
			</div>
			<div class="button">
				<a href="/signup">
					<img class="small-button" src="images/get-started.png">
				</a>
			</div>
		</div>
	</div>
</div>