<div class="mikebg">
	<img class="mikebgimg" src="images/mikedeni.jpg">
</div>

<div class="routeContent signup">
	<div class="routeHead">
		<p>sign up</p>
	</div>
	<div class="signupForm">
		<div class="activeStep stepbg step1bg">
			<p class="swaggyStep">Are you a user or an artist?</p>
			<div class="swaggyStepBot"><img class="userIcon userSignupIcon" src="images/user.png"></div>
			<div class="swaggyStepBot"><img class="userIcon usersSignupIcon" src="images/users.png"></div>
		</div>
		<div class="gonzoStep stepbg step2bg usercreds">
			<p class="swaggyStep swaggyHeader">User Credentials</p>
			<form class="userCredentials">
				<input class="input singleLineInput" placeholder="Username" maxlength="16">
				<input class="input" placeholder="Password" type="password" maxlength="16">
				<input class="input" placeholder="Re-type Password" type="password" maxlength="16">
				<input class="input" placeholder="First Name" maxlength="40">
				<input class="input" placeholder="Last Name" maxlength="40">
				<input class="input" placeholder="Email" type="email" maxlength="50">
				<input class="input" placeholder="Re-type Email" type="email" maxlength="50">
			</form>
		</div>
		<div class="gonzoStep stepbg step2bg">
			
		</div>
	</div>
</div>